<div class="container" style="margin-left: 20%; margin-right: 20%;">
    <div class="row">
        <h2>
            Удаление постов по id
        </h2>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Id</span>
                <input id="postId" type="number" class="form-control">
            </div>
        </div>        
        <div class="col-3">
            <button type="button" class="btn" onclick="deletePost()">Удалить</button>
        </div>
    </div>
</div>

<script src="~/script/admin.js"></script>