@model string

<link href="css/user/create.css" rel="stylesheet"/>

<div class="container text-center">
    <div class="row">
        <label class="title">
            Возникла ошибка при создании пользователля
        </label>
        <h3>
            @Model
        </h3>
    </div>
    <div class="row">
        <a href="~/User/Create" style="margin-top: 5px;">
            <button type="button" class="btn btn-primary">Назад</button>
        </a>
    </div>


</div>

